APP_NAME=MydataClinicApi
APP_ENV=production
APP_KEY=base64:0XmV2EiIDpuX9i5SDLZ7vzEK5bOXSM5BjEGsz4l59GA=
APP_DEBUG=false
APP_URL=https://mydataclinic.com/analytics/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mydahzgv_database
DB_USERNAME=mydahzgv_admin
DB_PASSWORD=heavenoneartH1@@

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mydataclinic.com
MAIL_PORT=465
MAIL_USERNAME=no-reply@mydataclinic.com
MAIL_PASSWORD=heavenoneartH1@@
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@mydataclinic.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYSTACK_PUBLIC_KEY=pk_test_cd8e355669b6dec211ee874b6a063bf5abff4a08
PAYSTACK_SECRET_KEY=sk_test_13676002f507217f1a44770e495a19d930e66bf6
PAYSTACK_PAYMENT_URL=https://api.paystack.co
MERCHANT_EMAIL=unicodeveloper@gmail.com